.chat-box{
  height: 400px;
}
.room {
  display: block;
  height: 90%;
  overflow: auto
}
.room-send {
  display: block;
  height: 10%;
  width: 100%;
  text-align: right;
}
.message {
  display: inline-block;
  width: calc(100% - 65px);
  height: 100%;
}
.button {
  display: inline-block;
  width: 65px;
  background-color: black;
  color: white;
  height: 100%;
}
