.table-responsive{
    height: 400px;
    overflow-y: auto;
}
.thead-dark th{
    position: sticky;
    top: 0;
}
.join{
    width: 50%;
    min-width: 70px;
    border-radius: 5px;
}
.leave{
  width: 50%;
  min-width: 70px;
  border-radius: 5px;
}
.remove{
    width: 50%;
    min-width: 70px;
    border-radius: 5px;
}
